.pane {
  display: flex;
  align-items: center;
  border: thin solid black;
  background-color: rgb(255, 255, 255);
}

button,
span {
  margin: 0.7rem;
}

span {
  font-size: 1.8rem;
  word-break: break-word;
}

.button-selected {
  background-color: rgb(255, 187, 0);
}
