.container {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid: repeat(8, 1fr) / 3fr 4fr 3fr;
  grid-template-areas:
    ' .   .    .'
    ' . input  .'
    ' .  panes  .'
    ' .  panes  .'
    ' .  panes  .'
    ' .  panes  .'
    ' . delete .'
    ' .   .    .';
}

button {
  border-radius: 50%;
  height: 50%;
  max-height: 20px;
  outline: none;
}

.button-delete {
  grid-area: delete;
  justify-self: center;
  width: 10%;
  background-color: rgb(255, 187, 0);
  border-radius: 5rem;
  border: 2px solid black;
}

.panes {
  grid-area: panes;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    lightblue,
    rgb(255, 255, 255),
    rgb(100, 206, 241)
  );
  border: 1px double black;
  overflow-y: auto;
}
