.button-add {
  border-radius: 0%;
}

input {
  width: 70%;
  height: 1.5rem;
  padding: 0.2rem;
  font-size: 1rem;
}

.input-todo {
  grid-area: input;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(144, 214, 255);
  border: 5px double rgb(22, 90, 216);
}
